
/* All about :
    -   Color, Background color 
    -   RGB & RGBA format, HEX-code format

    'background' is not same as 'background-color'.
    'background' do lot more, it can set "image" or "gradients" etc.

    Add always semicolon.
*/

h2 {
    color: #5FCFFC;
    background-color: rgb(89, 151, 0);
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background: rgb(228, 161, 37);
}

body {
    background-color: #c5e;
}



