/* 
    DISPALY PROPERTY
        Inline Element
        Block Element

            INLINE
            Width & Height are ignored. 
            Margin & padding push elements away horizontally but not vertically.

            BLOCK
            Block elements break the flow of a document. 
            Width, Height, Margin, & Padding are respected.

            INLINE - BLOCK
            Behaved like an inline element except Width, Height, Margin, & Padding are respected


*/

span {
    background-color: palevioletred;
    border: 1px solid black;
    width: 500px;
    padding: 50px;
    margin: 50px;
    /* display: block; */
}


h1 {
    background-color: paleturquoise;
    border: 1px solid black;
    width: 300px;
    padding: 50px;
    margin: 100px;
    display: inline;
}


div {
    height: 200px;
    width: 200px;
    background-color: olivedrab;
    border: 5px solid black;
    display: inline-block;
    margin: 50px;

}