body{
    background-image: url(./mz.PNG);
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: 10px;
}

.test{
    background-color: blue;
    color: white;
    border: 1px solid red;
    text-decoration: underline;
    font-style: italic;
    font-weight: bolder;
    font-size: 18px;
}

/* using local font */
@font-face{
	font-family: myFirstFont;
	src: url(abd.otf);
}

div{
	font-family: myFirstFont;
}
