div{
    position: absolute;
    top: 0;
    left: 0;
}

a{
    position: relative;
    left: -30px;
}

h1{
    position: static;
    background-color: brown;
}

h2{
    position: fixed;
    background-color: wheat;
}


