.rotate15 {
    -ms-transform: rotate (15deg);
    -o-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -webkit-transfom: rotate(15deg);
     transform: rotate(15deg);
     background-color:red;
     width:10Opx;
    }
    