div{
    border-width: thick;
    /*    up right bottom left*/
    border-width: 2px 10px 5px;
    border-style: dashed;
    border-color: bisque;
    
    /*Individual side*/
    border-left-width: thick;
    /*    top right bottom left*/
    border-left-width: 2px 10px 5px;
    border-left-style: dashed;
    border-left-color: bisque;
}

/*Short-hand*/
selector{border: width style color;}